# Database connection string
DATABASE_URL="file:./dev.db"

# NextAuth Configuration
# Run `node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"` to generate a secret
NEXTAUTH_SECRET="generate-a-random-secret"

# The base URL of your application
NEXTAUTH_URL="http://localhost:3000"
